<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SquishPics.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SquishPics.GlobalSettings>
            <setting name="API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="SORTING_MODE" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="SORTING_ORDER" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="MAX_FILE_SIZE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LAST_VISITED_DIRECTORY_DIALOGUE" serializeAs="String">
                <value />
            </setting>
        </SquishPics.GlobalSettings>
    </userSettings>
</configuration>