<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <log4net>
        <!-- A1 is set to be a ConsoleAppender -->
        <appender name="A1" type="log4net.Appender.ConsoleAppender">
            <threshold value="Debug" />
            <!-- A1 uses PatternLayout -->
            <layout type="log4net.Layout.PatternLayout">

                <conversionPattern value="[%date{HH:mm:ss}] [%level] [%logger] %message%newline%exception" />
            </layout>
        </appender>
        <appender name="file" type="log4net.Appender.RollingFileAppender">
            <file value="logs\" />
            <datePattern value="'session_'yyyy-MM-dd-mm-ss'.log'"/>
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <maxSizeRollBackups value="5" />
            <maximumFileSize value="10MB" />
            <threshold value="Info" />
            <immediateFlush value="true" />
            <preserveLogFileNameExtension value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%date{HH:mm:ss}] [THD: %2thread] [%level] [%logger] : %message%newline%exception" />
            </layout>
        </appender>

        <!-- Set root logger level to DEBUG and its only appender to A1 -->
        <root>
            <!--<level value="INFO" />-->
            <appender-ref ref="A1" />
            <appender-ref ref="file" />
        </root>
    </log4net>
</configuration>
